*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  overflow:hidden;
  background:#d9c6ff; /* you will change background */
}

.scene{
  position:absolute;
  inset:0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  transition:opacity 0.8s ease;
}

.hidden{
  opacity:0;
  pointer-events:none;
}

/* CAKE */
#cakeVideo{
  width:80vw;
  max-width:360px;
  border-radius:20px;
  cursor:pointer;
}

/* GIFT */
.choice button{
  padding:10px 22px;
  border:none;
  border-radius:20px;
  background:#fff;
  margin:0 10px;
}

.gift{
  width:180px;
  margin-top:25px;
  cursor:pointer;
}

#runner{
  position:absolute;
  bottom:20%;
  right:10%;
  width:80px;
}

.letter{
  width:160px;
  opacity:0;
  transition:0.6s;
  cursor:pointer;
}

/* LETTER SCENE */
.borderImgs{
  display:flex;
  gap:10px;
}

.borderImgs img{
  width:30vw;
  max-width:120px;
  border-radius:12px;
}

.centerLetter{
  background:rgba(255,255,255,0.9);
  padding:30px;
  border-radius:20px;
  text-align:center;
}

#letterWish{
  white-space:pre-line;
  font-size:1.05rem;
  line-height:1.7;
  color:#000;
}

/* BOUQUET */
.bouquet{
  width:70vw;
  max-width:420px;
  animation:float 3s ease-in-out infinite;
}

@keyframes float{
  50%{transform:translateY(-18px) scale(1.02);}
}

/* FINAL */
#sae-video-box{
  position:absolute;
  right:6%;
  bottom:20%;
  width:220px;
  border-radius:16px;
  overflow:hidden;
}

.speaking video{
  animation:speak 0.22s infinite;
}

@keyframes speak{
  50%{transform:scaleY(0.992);}
}

#subtitle{
  position:absolute;
  bottom:10%;
  background:rgba(255,255,255,0.7);
  padding:10px 18px;
  border-radius:16px;
}

#hugVideo{
  width:85vw;
  max-width:480px;
  border-radius:22px;
  margin-top:20px;
}
